/* stylelint-disable */

@mixin burger {
  $burger-width: 28px;
  $burger-height: 12px;
  $burger-line-height: 3px;

  margin-top: -6px;
  display: block;
  position: relative;
  border: none;
  padding: 0;
  width: $burger-width;
  height: $burger-height;
  color: $white-color;
  background-color: transparent;
  cursor: pointer;

  &__line {
    margin-top: -4px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: $burger-line-height;
    background-color: $white-color;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    bottom: 0;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: $burger-line-height;
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &--active {
    margin-top: -8px;

    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      margin-top: 0;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out;
    }
  }
}
