<section class="free-games free-games--mt">
  <div class="container free-games__container">
    <div class="free-games__content" data-free-content>
      <h2 class="title title-l free-games__title">
        PLAY FREE SOCIAL CASINO GAMES
      </h2>
      <p class="default-text free-games__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua
      </p>
    </div>
  </div>
  <div class="set-games" data-games>
    <div class="swiper set-games__slider">
      <div class="swiper-wrapper set-games__wrapper">
        <div class="swiper-slide set-games__slide">
          <a class="game-card" href="#">
            <div class="game-card__image">
              <picture>
                <img data-src="img/twisted-game.jpg" alt="Twisted game">
              </picture>
            </div>
            <div class="game-card__content">
              <div class="game-card__content-inner">
                <div class="rating game-card__rating">
                  <span class="rating__item"></span>
                  <span class="rating__item"></span>
                  <span class="rating__item rating__item--active"></span>
                  <span class="rating__item rating__item--active"></span>
                  <span class="rating__item rating__item--active"></span>
                </div>
                <h3 class="title-m title game-card__title">
                  TWISTED SISTER
                </h3>
              </div>
              <div class="game-card__icon">
                <svg width="33" height="37" viewBox="0 0 33 37" fill="none">
                  <path d="M30.9533 21.0077L5.83591 35.6646C3.70431 36.9072 0.96875 35.4026 0.96875 32.8976V3.58376C0.96875 1.08272 3.70036 -0.425845 5.83591 0.820706L30.9533 15.4776C31.4382 15.756 31.8413 16.1584 32.1216 16.644C32.402 17.1296 32.5496 17.6811 32.5496 18.2426C32.5496 18.8042 32.402 19.3557 32.1216 19.8413C31.8413 20.3269 31.4382 20.7293 30.9533 21.0077Z" fill="url(#paint0_linear_1_710)"/>
                  <defs>
                    <linearGradient id="paint0_linear_1_710" x1="0.968749" y1="47.4476" x2="32.689" y2="44.9817" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#FEB808"/>
                      <stop offset="1" stop-color="#F64C3A"/>
                    </linearGradient>
                  </defs>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide set-games__slide">
          <a class="game-card" href="#">
            <div class="game-card__image">
              <picture>
                <img data-src="img/kiss-game.jpg"  alt="Kiss game">
              </picture>
            </div>
            <div class="game-card__content">
              <div class="game-card__content-inner">
                <div class="rating game-card__rating">
                  <span class="rating__item"></span>
                  <span class="rating__item"></span>
                  <span class="rating__item rating__item--active"></span>
                  <span class="rating__item rating__item--active"></span>
                  <span class="rating__item rating__item--active"></span>
                </div>
                <h3 class="title-m title game-card__title">
                  KISS REELS OF ROCK
                </h3>
              </div>
              <div class="game-card__icon">
                <svg width="33" height="37" viewBox="0 0 33 37" fill="none">
                  <path d="M30.9533 21.0077L5.83591 35.6646C3.70431 36.9072 0.96875 35.4026 0.96875 32.8976V3.58376C0.96875 1.08272 3.70036 -0.425845 5.83591 0.820706L30.9533 15.4776C31.4382 15.756 31.8413 16.1584 32.1216 16.644C32.402 17.1296 32.5496 17.6811 32.5496 18.2426C32.5496 18.8042 32.402 19.3557 32.1216 19.8413C31.8413 20.3269 31.4382 20.7293 30.9533 21.0077Z" fill="url(#paint0_linear_1_710)"/>
                  <defs>
                    <linearGradient id="paint0_linear_1_710" x1="0.968749" y1="47.4476" x2="32.689" y2="44.9817" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#FEB808"/>
                      <stop offset="1" stop-color="#F64C3A"/>
                    </linearGradient>
                  </defs>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide set-games__slide">
          <a class="game-card" href="#">
            <div class="game-card__image">
              <picture>
                <img data-src="img/sabaton.jpg" alt="Sabaton game">
              </picture>
            </div>
            <div class="game-card__content">
              <div class="game-card__content-inner">
                <div class="rating game-card__rating">
                  <span class="rating__item"></span>
                  <span class="rating__item"></span>
                  <span class="rating__item"></span>
                  <span class="rating__item rating__item--active"></span>
                  <span class="rating__item rating__item--active"></span>
                </div>
                <h3 class="title-m title game-card__title">
                  SABATON
                </h3>
              </div>
              <div class="game-card__icon">
                <svg width="33" height="37" viewBox="0 0 33 37" fill="none">
                  <path d="M30.9533 21.0077L5.83591 35.6646C3.70431 36.9072 0.96875 35.4026 0.96875 32.8976V3.58376C0.96875 1.08272 3.70036 -0.425845 5.83591 0.820706L30.9533 15.4776C31.4382 15.756 31.8413 16.1584 32.1216 16.644C32.402 17.1296 32.5496 17.6811 32.5496 18.2426C32.5496 18.8042 32.402 19.3557 32.1216 19.8413C31.8413 20.3269 31.4382 20.7293 30.9533 21.0077Z" fill="url(#paint0_linear_1_710)"/>
                  <defs>
                    <linearGradient id="paint0_linear_1_710" x1="0.968749" y1="47.4476" x2="32.689" y2="44.9817" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#FEB808"/>
                      <stop offset="1" stop-color="#F64C3A"/>
                    </linearGradient>
                  </defs>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide set-games__slide">
          <a class="game-card" href="#">
            <div class="game-card__image">
              <picture>
                <img data-src="img/fire-joker.jpg" alt="Fire-joker game">
              </picture>
            </div>
            <div class="game-card__content">
              <div class="game-card__content-inner">
                <div class="rating game-card__rating">
                  <span class="rating__item"></span>
                  <span class="rating__item"></span>
                  <span class="rating__item"></span>
                  <span class="rating__item rating__item--active"></span>
                  <span class="rating__item rating__item--active"></span>
                </div>
                <h3 class="title-m title game-card__title">
                  FIRE JOKEY
                </h3>
              </div>
              <div class="game-card__icon">
                <svg width="33" height="37" viewBox="0 0 33 37" fill="none">
                  <path d="M30.9533 21.0077L5.83591 35.6646C3.70431 36.9072 0.96875 35.4026 0.96875 32.8976V3.58376C0.96875 1.08272 3.70036 -0.425845 5.83591 0.820706L30.9533 15.4776C31.4382 15.756 31.8413 16.1584 32.1216 16.644C32.402 17.1296 32.5496 17.6811 32.5496 18.2426C32.5496 18.8042 32.402 19.3557 32.1216 19.8413C31.8413 20.3269 31.4382 20.7293 30.9533 21.0077Z" fill="url(#paint0_linear_1_710)"/>
                  <defs>
                    <linearGradient id="paint0_linear_1_710" x1="0.968749" y1="47.4476" x2="32.689" y2="44.9817" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#FEB808"/>
                      <stop offset="1" stop-color="#F64C3A"/>
                    </linearGradient>
                  </defs>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide set-games__slide">
          <a class="game-card" href="#">
            <div class="game-card__image">
              <picture>
                <img data-src="img/inferno.jpg" alt="Inferno joker game">
              </picture>
            </div>
            <div class="game-card__content">
              <div class="game-card__content-inner">
                <div class="rating game-card__rating">
                  <span class="rating__item"></span>
                  <span class="rating__item"></span>
                  <span class="rating__item"></span>
                  <span class="rating__item rating__item--active"></span>
                  <span class="rating__item rating__item--active"></span>
                </div>
                <h3 class="title-m title game-card__title">
                  INFERNO JOKER
                </h3>
              </div>
              <div class="game-card__icon">
                <svg width="33" height="37" viewBox="0 0 33 37" fill="none">
                  <path d="M30.9533 21.0077L5.83591 35.6646C3.70431 36.9072 0.96875 35.4026 0.96875 32.8976V3.58376C0.96875 1.08272 3.70036 -0.425845 5.83591 0.820706L30.9533 15.4776C31.4382 15.756 31.8413 16.1584 32.1216 16.644C32.402 17.1296 32.5496 17.6811 32.5496 18.2426C32.5496 18.8042 32.402 19.3557 32.1216 19.8413C31.8413 20.3269 31.4382 20.7293 30.9533 21.0077Z" fill="url(#paint0_linear_1_710)"/>
                  <defs>
                    <linearGradient id="paint0_linear_1_710" x1="0.968749" y1="47.4476" x2="32.689" y2="44.9817" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#FEB808"/>
                      <stop offset="1" stop-color="#F64C3A"/>
                    </linearGradient>
                  </defs>
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide set-games__slide">
          <a class="game-card" href="#">
            <div class="game-card__image">
              <picture>
                <img data-src="img/annihilator.jpg" alt="Annihilator game">
              </picture>
            </div>
            <div class="game-card__content">
              <div class="game-card__content-inner">
                <div class="rating game-card__rating">
                  <span class="rating__item"></span>
                  <span class="rating__item"></span>
                  <span class="rating__item"></span>
                  <span class="rating__item rating__item--active"></span>
                  <span class="rating__item rating__item--active"></span>
                </div>
                <h3 class="title-m title game-card__title">
                  ANNIHILATOR
                </h3>
              </div>
              <div class="game-card__icon">
                <svg width="33" height="37" viewBox="0 0 33 37" fill="none">
                  <path d="M30.9533 21.0077L5.83591 35.6646C3.70431 36.9072 0.96875 35.4026 0.96875 32.8976V3.58376C0.96875 1.08272 3.70036 -0.425845 5.83591 0.820706L30.9533 15.4776C31.4382 15.756 31.8413 16.1584 32.1216 16.644C32.402 17.1296 32.5496 17.6811 32.5496 18.2426C32.5496 18.8042 32.402 19.3557 32.1216 19.8413C31.8413 20.3269 31.4382 20.7293 30.9533 21.0077Z" fill="url(#paint0_linear_1_710)"/>
                  <defs>
                    <linearGradient id="paint0_linear_1_710" x1="0.968749" y1="47.4476" x2="32.689" y2="44.9817" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#FEB808"/>
                      <stop offset="1" stop-color="#F64C3A"/>
                    </linearGradient>
                  </defs>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
