<section class="hero" aria-labelledby="heroTitle">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="title title-xl hero__title" data-title  id="heroTitle">
        Free Social Casino Games 2022
      </h1>
      <p class="default-text hero__description" data-description aria-describedby="heroTitle">
        Play our free social games now, sign up in 30 seconds and have fun with your friends. You can also choose
        to start playing immediately without registration. Enjoy!
      </p>
    </div>
  </div>
</section>
