// base
$font-family: 'Noto-Sans', sans-serif;
$content-width: 1170px;
$container-offset: 16px;
$container-width: calc(#{$content-width} + (#{$container-offset * 2}));

// colors
$black-color: #060100;
$white-color: #fff;
$brand-color: #febb06;
$alto-color: #d6d6d6;
$mine-shaft: #212121;
$linear-color: linear-gradient(86.42deg, #FFC700 -1.87%, #F3254C 119.59%, #F32525 119.59%);

// transform
$perspective: 700px;
